/* Variables */
:root {
  --colors-background-dark: #444;
  --colors-background-light: #ffff;
  --colors-text-light: #fff;
  --colors-text-highlight: #456ebf;
  --colors-text-dark: #000;
  --fonts-normal-text: arial, verdana;
}

/* Small resets */
* {
  box-sizing: border-box;
}
html,
body,
form {
  padding: 0px;
  margin: 0px;
}

/* Main elements */
body {
  background: url("../images/yes.gif") center center no-repeat
    var(--colors-background-dark);
  background-size: cover;
  font-family: var(--fonts-normal-text);
  font-size: 14px;
  font-weight: 400;
  color: var(--colors-text-light);
}
main {
  margin-bottom: 10px;
}
main strong {
  display: inline-block;
  padding: 10px;
  background-color: var(--colors-text-highlight);
  color: var(--colors-text-light);
  border-radius: 5px;
}
footer {
  font-size: 0.85em;
}
h1 {
  font-size: 1.5em;
  margin: 0px 0px 15px 0px;
}
p {
  margin: 0px 0px 15px 0px;
}
p a {
  color: var(--colors-text-highlight);
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}
p:last-child {
  margin: 0px;
}

/* Other elements */
#website_container {
  width: 310px;
  height: 100vh;
  text-align: center;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#website_container .content {
  border-radius: 15px;
  background-color: var(--colors-background-light);
  color: var(--colors-text-dark);
  padding: 15px;
  overflow: hidden;
}

/* Install button */
.install-button {
  background-color: #456ebf;
  color: var(--colors-text-light);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.install-button:hover {
  background-color: #345293;
}

/*Codigo para la barra de menu*/
.bottom-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  margin-top: 10px;
}

.menu-icon {
  /* Agrega estilos para los íconos, por ejemplo: */
  font-size: 1.5rem;
  cursor: pointer;
}
/*Codigo para el buscador y la lupa*/
#search-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin: 0 auto; /* Centra el contenedor */
  max-width: 50%; /* Limita el ancho al 50% de la pantalla */
}

#search-bar {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

#search-icon {
  background-color: #456ebf;
  color: #fff;
  padding: 8px;
  border: 1px solid #456ebf;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Estilo común para las imágenes */
.grid-item {
  width: calc(
    50% - 10px
  ); /* Ancho del 50% con un pequeño espacio entre las imágenes */
  box-sizing: border-box;
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
  margin-bottom: 15px;
}

.grid-item img {
  width: 100%; /* Hace que todas las imágenes tengan el mismo ancho */
  height: 100%; /* Hace que todas las imágenes tengan la misma altura */
  object-fit: cover; /* Mantiene la relación de aspecto y cubre el contenedor */
  border-radius: 10px; /* Borde redondo */
}

.grid-item p {
  margin: 10px 0; /* Margen superior e inferior para el texto */
  padding: 10px; /* Añade un relleno para separar el texto del borde del contenedor */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo semitransparente para hacer que el texto sea legible */
}

/* Organizar en filas de dos */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribuye las columnas uniformemente */
  margin: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
